# Environment files
pre-stack/es-agent/.env

# Certificates and keys
**/certs/
**/*.key
**/*.crt
**/*.pem
**/*.p12
**/*.jks
**/*.zip

# Molecule
.cache/
.molecule/
**/molecule/**/shared-certs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Ansible
*.retry
